<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="titulo">SnapMap ~ <%= title %></title>
    <link rel="stylesheet" id="themeStyles">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <a id="btn-logo">
            <img alt="Project logo" class="logo" id="logo">
        </a>

        <h1 class="project-title">SnapMap</h1>
        
        <div id="about-div">
            <a id="about">About us</a>
        </div>
    </header>

    <!-- Sección "Equipo" -->
    </div id="members" class="team section">
        <h2>Meet the Team</h2>
        <div class="team-members">
            <div class="member">
                <img src="/images/luciana.jpg" alt="Luciana">
                <h3>Luciana De La Rosa</h3>
                <p>Desarrolladora Frontend</p>
            </div>
            <div class="member">
                <img src="/images/gabriela.jpg" alt="Gabriela">
                <h3>Gabriela </h3>
                <p>Desarrolladora Frontend</p>
            </div>
            <div class="member">
                <img src="/images/andres.jpg" alt="AndresN">
                <h3>Andres Narvaes</h3>
                <p>Desarrolladora Frontend</p>
            </div>

            <div class="member">
                <img src="/images/andresito.jpg" alt="AndresF">
                <h3>Andres Fabregas</h3>
                <p>Desarrolladora Frontend</p>
            </div>

            <div class="member">
                <img src="/images/ali.jpg" alt="Ali">
                <h3>Ali Rada</h3>
                <p>Desarrolladora Frontend</p>
            </div>
        </div>
    </section>
    
    <!-- Scripts loading -->
    <script>
        const isTesting = window.location.pathname.startsWith('/test');
        document.getElementById('themeStyles').href = isTesting
            ? '/test/styles/main.css'
            : '/styles/main.css';

        document.getElementById('btn-logo').href = isTesting
            ? '/test/'
            : '/';
        const logo = document.getElementById('logo');
        logo.src = isTesting
            ? '/test/images/logo.png'
            : '/images/logo.png';        

        document.getElementById('about').href = isTesting
            ? '/test/aboutUs'
            : '/aboutUs';
    </script>
</body>
</html>